node_modules
config.yml
dist
.awspublish-iw-files
src/style/style.css
src/data/hpms/extracts
src/data/cscd
!src/data/cscd/load.sh
src/data/**/*.zip
src/data/**/*.csv
src/data/**/*.txt
src/data/*.csv
src/data/**/*.osm
src/img/schools/*.png
!src/data/hightrafficschools2.csv
