<div>
	<div class="key">
		<div class="keyBlock">
			<div class="colorBlock" style="background-color: rgba(255,0,0,0.6)"></div>
			<div class="keyLabel">within 500 feet of a road that 30,000 vehicles travel on an average day</div>
		</div>
		<div class="keyBlock">
			<div class="colorBlock" style="background-color: rgba(255,165,0,0.6)"></div>
			<div class="keyLabel">within 500 feet of a road that 10,000 vehicles and 500 trucks travel on an average day</div>
		</div>
	</div>

	<slippyMap />
</div>