<div>
	<div class="searchBoxContainer">
		<input type="text" class="searchBox" id="searchBox" placeholder="Search for a school or location">
	</div>

	<div class="key">
		<div class="keyBlock">
			<div class="colorBlock" style="background-color: rgba(255,0,0,0.6)"></div>
			<div class="keyLabel">within 500 feet of a road with 30,000-plus vehicles on an average day</div>
		</div>
		<div class="keyBlock">
			<div class="colorBlock" style="background-color: rgba(255,165,0,0.6)"></div>
			<div class="keyLabel">within 500 feet of a road with 10,000-plus vehicles and 500-plus trucks on an average day</div>
		</div>
	</div>

	<slippyMap />
</div>