<div>
    <div class="label">Displaying schools {{(page-1)*itemsPerPage+1}} &mdash; {{(page-1)*itemsPerPage+itemsPerPage}}</div>

    <button v-if="page > 1" class="btn btn-primary" @click="prev">Previous {{itemsPerPage}} schools</button>
    <button v-if="page*itemsPerPage < schools.length" class="btn btn-primary" @click="next">Next {{itemsPerPage}} schools</button>
    <br><br>

    <div class="schools">
        <school v-for="school in schools.slice((page-1)*itemsPerPage,(page-1)*itemsPerPage+itemsPerPage)" :school="school">
    </div>

    <br><br>
    <button v-if="page > 1" class="btn btn-primary" @click="prev">Previous {{itemsPerPage}} schools</button>
    <button v-if="page*itemsPerPage < schools.length" class="btn btn-primary" @click="next">Next {{itemsPerPage}} schools</button>
    <br><br>

    <div class="label">Displaying schools {{(page-1)*itemsPerPage+1}} &mdash; {{(page-1)*itemsPerPage+itemsPerPage}}</div>

</div>