// @import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400';

@import url("site.css");

.preview {
    max-width: 1260px;
    // max-width: 540px;
    margin-left: auto;
    margin-right: auto;

}

html {
    height: auto;
}

.highwaySchools {
    .source {
        font-size: 80%;
        line-height: 120%;
        color: #666;
        padding-top: 30px;
    }
}

@media (max-width: 1000px) {
    .highwaySchools {

    }
}

@media (max-width: 700px) {
    .highwaySchools {

    }
}

@media (max-width: 535px) {
    .preview {
        max-width: 300px;
    }

    .highwaySchools {

    }
}
